{{!< default}}

{{#post}}

    {{#if feature_image}}
        <div id="feature_image">
            <div class="inner" style="background-image: url('{{img_url feature_image}}')">
                <img src="{{feature_img}}">
            </div>
        </div>
    {{/if}}

    <article role="main" class="{{#if feature_image}}image{{/if}}">
        <header>
            <a href="{{@site.url}}" id="home_link">«</a>
            <div class="meta"><time datetime="{{date format='YYYY-MM-DD'}}"><a href="{{url}}">{{date format="MMMM DD, YYYY"}}</a></time> <span class="count" id="js-reading-time"></span></div>
            <h1>{{title}}</h1>
        </header>

        <div class="text" id="js-post-content">
            {{content}}
        </div>

    {{#primary_author}}
        <footer class="post-footer" role="contentinfo">

            <div class="vcard">
                <a href="{{@site.url}}/rss" id="btn_feed" class="btn" title="Feed" target="_blank">
                    <span aria-hidden="true" data-icon=")"></span>
                    <strong>Feed</strong>
                </a>

                {{#if profile_image}}
                <a href="{{url}}" class="photo">
                    <span style="background-image: url('{{img_url profile_image}}');">
                        <img src="{{profile_image}}" alt="{{name}}">
                    </span>
                </a>
                {{/if}}

                <div class="details">
                    <h4><a href="{{url}}" class="url n">{{name}}</a></h4>
                    {{#if location}}{{location}}<br>{{/if}}
                    {{#if website}}<a href="{{website}}" class="js-remove-domain-schema">{{website}}</a>{{/if}}
                </div>
            </div>

            <div id="user_bio">
                <div class="inner">
                    {{!-- TODO: Parse HTML for links --}}
                    {{bio}}
                </div>
            </div>

        </footer>
    {{/primary_author}}

    </article>

    <div id="post_nav">
        <nav role="navigation">
            {{#next_post}}
                <a href="{{url}}" id="post_next" title="Next Post">
                    <span aria-hidden="true" data-icon=">"></span>
                    {{ title }}
                </a>
            {{/next_post}}
            {{#prev_post}}
                <a href="{{url}}" id="post_prev" title="Previous Post">
                    {{ title }}
                    <span aria-hidden="true" data-icon=">"></span>
                </a>
            {{/prev_post}}
        </nav>
    </div>

{{/post}}